<% unless @hof.results.empty? %>
<h3>Hall of Fame</h3>
<table style="margin:0.2em" cellspacing="7">
  <tr>
    <td><%= image_tag 'knight.jpg', :class => 'hofpic' %></td>
    <td valign="top"><b>Hoff-Verdienstkreuz am Bande:</b><br/>
      <%= hof_linker( @hof, :correct ) %> mit <%= @hof[:correct][0][:correct] %>
      korrekt getippten Ergebnissen.</td>
    <td align="center"><%= image_tag 'star_medal_gold_orange.png' %></td>
  </tr>
  <tr>
    <td><%= image_tag 'netzer_head.jpg', :class => 'hofpic' %></td>
    <td valign="top"><b>Günter-Netzer-Award:</b><br/>
      <%= hof_linker( @hof, :tendency ) %> mit <%= @hof[:tendency][0][:tendency] +
        @hof[:tendency][0][:correct] %> korrekt getippten Tendenzen.</td>
    <td align="center"><%= image_tag 'star_medal_silver_blue.png' %></td>
  </tr>
  <tr>
    <td><%= image_tag 'beckmann_head.jpg', :class => 'hofpic' %></td>
    <td valign="top"><b>Reinhold-Beckmann-Medaille:</b><br/>
      <%= hof_linker( @hof, :wrong ) %> mit <%= @hof[:wrong][0][:wrong] %>
      komplett falschen Tipps.</td>
    <td align="center"><%= image_tag 'poo.png' %></td>
  </tr>
</table>
<% end %>
