<ul id="navibar">
  <% for div in all_divisions %>
  <li><%= link_to_unless_current div.name, merge_uid( { :action =>
  'division', :id => div.id } ) %></li><% end %>
  <li><%= link_to_unless_current 'letzte vier',
  merge_uid( { :action => 'last' , :id => 4 } ), { :class => 'speciala' }  %></li>
  <li><%= link_to_unless_current 'kommende vier',
  merge_uid( { :action => 'next' , :id => 4 } ), { :class => 'speciala' }  %></li>
  <li><%= link_to_unless_current 'alle',
  merge_uid( { :action => 'index' } ), { :class => 'speciala' }  %></li>
  <li><%= link_to_unless_current 'Sondertipps',
  merge_uid( { :action => 'special' } ), { :class => 'specialb' } %></li>
</ul>
<div id="pageline"><hr style="display:none;"/></div>
