<h3>Menü</h3>
<%#<li style="background: red;"><a style="color:white;" href="ranks.html">Endergebnis</a></li>%>
<li><%= link_to 'Stammtisch', comments_path %></li>
<li><%= link_to 'Tippen', :controller => '/bets', :action => 'next', :id => 4 %></li>
<li><%= link_to 'Rangliste', :controller => '/bets', :action => 'scoreboard' %></li>
<li><%= link_to 'Gewinne', :controller => '/prizes', :action => 'index' %></li>
<% if true # current_user.admin %>
  <li><%= link_to 'Begegnungen', :controller => '/matches', :action => 'last', :id => 4 %></li>
<% end %>
<li style="background: #fdb;"><%= link_to 'Abmelden', destroy_user_session_path %></li>
